<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question detail page</title>
</head>
<body>
    <h2>{{ question.question_txt }}</h2>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <!-- form -->
    <form action="{% url 'polls:vote' question.id %}", method="post">
        {% csrf_token %} <!-- python提供的防止跨站点请求伪造的模板标签 -->
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_txt }}</label>
        {% endfor %}
        <br>
        <input type="submit" value="Vote">
    </form>
</body>
</html>